<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container">
    <a class="brand" href="#">TreeBook</a>
    	<ul class="nav ">
		  	<li class="divider-vertical">
		  			<%= link_to "All Statuses", statuses_path  %>
		  	</li>
		</ul>
		<ul class="nav pull-right">
			<% if user_signed_in?%>
		  	<li class="divider-vertical">
		  			<%= link_to current_user.full_name, edit_user_registration_path(current_user)  %>
		  	</li>
		  	<li class="divider-vertical"><%= link_to  "Log Out", destroy_user_session_path, method: :delete  %></li>
		  	<% else %>
		  		<li class="divider-vertical">
		  			<%= link_to 'Sign in', new_user_session_path %>
		  	</li>
		  	<li class="divider-vertical">
		  			<%= link_to 'Register', new_user_registration_path  %>
		  	</li>
		  	<% end %>
		</ul>
	</div>
 </div>
</div>